<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Speaker Vue</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../main.css">
    </head>
    <body>
        <div id="app">
            <sv-header v-bind:conference="conference"></sv-header>

            <main>
                <h1>{{ speaker.name }}</h1>
                <p>{{ speaker.bio }}</p>
                <p v-if="speaker.twitter"><a v-bind:href="'https://twitter.com/' + speaker.twitter" target="_blank">Twitter</a></p>
                <h4>Sessions</h4>
                <ul>
                    <li v-for="session in speaker.sessions"><a v-bind:href="'../sessions/#' + session.id">{{ session.title }}</a></li>
                </ul>
            </main>

            <sv-footer></sv-footer>
        </div>

        <script src="../../main.js"></script>
        <script src="/presentations/js/vue.min.js"></script>
        <script src="../../components.js"></script>
        
        <script type="text/javascript">
            var speakerId = (window.location.hash) ? window.location.hash.split("#")[1] : '';
            var speaker = data.speakers.find((speaker) => speaker.id === speakerId);
            var sessionIds = speaker.sessions;
            speaker.sessions = data.sessions.filter((session) => sessionIds.indexOf(session.id) > -1);

            var app = new Vue({
                el: '#app',
                data: {
                    'speaker': speaker
                },
            });
    </script>
    </body>
</html>